.loading {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  z-index: 2;
  font-size: 30px;
  animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.countries {
  display: flex;
  padding: 0 4%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  row-gap: 70px;
}

.card {
  width: 250px;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}
.card:hover {
  transform: scale(1.1);
}
.card a {
  text-decoration: none;
  color: var(--very-dark-blue);
}
.dark .card {
  background: var(--dark-blue);
}
.dark .card a {
  color: white;
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: fill;
  border-radius: 5px 5px 0 0;
}
.info {
  padding: 20px;
  padding-bottom: 35px;
}
.info h4 {
  margin-bottom: 15px;
}
.info p {
  font-size: 0.8rem;
  line-height: 1.75em;
  font-weight: 600;
}
.info p span {
  opacity: 0.8;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .countries {
    justify-content: center;
  }
}
